<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head th:replace="layout/layout::head">
</head>
<body>
	<header th:replace="layout/layout::header"></header>
	<div class="container py-4">
		<div class="card">
			<h5 class="card-header bg-secondary text-white" th:text="${titulo}"></h5>
			<div class="card-body">
				<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" th:href="@{/form}" role="button">Crear
					Cliente</a>
				<div class="table-responsive my-4">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Apellido</th>
								<th scope="col">Email</th>
								<th scope="col">Fecha</th>
								<th scope="col">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cliente: ${clientes}" scope="row">
								<td th:text="${cliente.id}"></td>
								<td th:text="${cliente.nombre}"></td>
								<td th:text="${cliente.apellido}"></td>
								<td th:text="${cliente.email}"></td>
								<td th:text="${cliente.createAt}"></td>
								<td>
									<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/ver/} + ${cliente.id}" class="btn btn-info btn-sm" role="button" aria-pressed="true">Ver</a>
									<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form/} + ${cliente.id}" class="btn btn-success btn-sm" role="button"	aria-pressed="true">Editar</a> 
									<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminar/} + ${cliente.id}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Estas seguro de eliminar registro?');">Eliminar</a>
								</td>
							</tr>
						</tbody>
					</table>
					<nav th:replace="layout/paginator-nav::paginator"></nav>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>