<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>
	<header th:replace="layout/layout::header"></header>
	<div class="container col-sm-7 py-4">
		<div class="card">
			<h5 class="card-header bg-dark text-white" th:text="${titulo}"></h5>
			<div class="card-body">
				<a class="btn btn-primary" th:href="@{/ver/}+${factura.cliente.id}"
					role="button">Volver</a>
				<form th:action="@{/factura/form/}" th:object="${factura}"
					method="post" enctype="multipart/form-data">
					<div class="mx-auto py-4">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Cliente</label>
							<div class="col-sm-9">
								<input class="form-control" type="text"
									th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
									disabled="disabled">
								<!-- <small class="form-text text-danger"
									th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small> -->
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label" >Descripcion</label>
							<div class="col-sm-9">
								<input class="form-control" type="text"
									th:field="*{descripcion}" th:errorclass="'form-control is-invalid'">
									<div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
							</div>
						</div>
						<div class="form-group row">
							<label for="buscar_producto" class="col-sm-3 col-form-label"
								th:text="'Buscar producto'"></label>
							<div class="col-sm-9">
								<input type="text" name="buscar_producto" id="buscar_producto"
									class="form-control" />
							</div>
						</div>
						<table th:replace="factura/plantilla-item :: itemsFactura"></table>
						<table id="cargarItemProductos"
							class="table table-sm table-striped table-hover">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Precio</th>
									<th>Cantidad</th>
									<th>Total</th>
									<th>Eliminar</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<h5> Total = 
							<span class="badge badge-secondary" id="gran_total">0</span>
						</h5>
						<div class="form-group row ">
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
						<input class="form-control" type="hidden" th:field="*{id}">
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
	<script th:replace="factura/js/autocomplete-productos :: javascript"></script>
</body>
</html>